.card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-device-width: 800px) {
  .card-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
